<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나 문서 아님</title>
</head>
    <h1>Hello</h1>
    <h2>My Name is</h2>
    <h3>Eminem</h3>
    <button onclick="alert('Ticky Ticky Eminem')">눌러봐</button>
    <br>
    
    <label for="chk">동의합니다</label>
    <input type='checkbox' id='chk' name='chk'>
    <br>
    <a href="https://github.com/ShinHeeEul">난가 싶으면 누르자</a>
    <img src="../logo.svg">
    <br>
    <table border>
        <tr>
            <td>안돼</td>
            <td>돼</td>
        </tr>
        <tr>
            <td>됀다</td>
            <td>안됀다</td>
        </tr>
    </table>
</body>
</html>